*.[ao]
*.gcda
*.gcno
*.fuse_hidden*
*.l[ao]
*.loT
*.orig
*.pc
*.py[co]
*.rej
*.sw[op]
*~
.DS_Store
.deps
.libs
Makefile
Makefile.in
core*
tags
*-marshal.[ch]
*-bindings.[ch]
*-glue.[ch]
*-enumtypes.[ch]
aclocal.m4
autom4te.cache
INSTALL
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
missing
stamp-h1
ylwrap

config.guess.cdbs-orig
config.sub.cdbs-orig
core*
debian/files
debian/stamp-autotools-files
debian/stamp-makefile-build
debian/tmp

/m4/gtk-doc.m4
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

/libuchardet/tests/test_charsets
/libuchardet/tests/test_libuchardet

/addressbook/libebook
/addressbook/libedata-book
/addressbook/libedata-book-dbus/e-addressbook-factory
/addressbook/libedata-book-dbus/org.gnome.evolution.dataserver.AddressBook.service
/calendar/libical/src/libical/icalversion.h
/iconv-detect.h
/libedataserver/test-source-list
