*.bak
*.stamp
*-decl-list.txt
*-decl.txt
*-undeclared.txt
*-undocumented.txt
*-unused.txt
*-sections.txt
*-overrides.txt
*.args
*.hierarchy
*.interfaces
*.prerequisites
*.types
*.signals

html
tmpl
xml

