*.debhelper
*.substvars
evolution-data-server-addressbook
evolution-data-server-addressbook-dbg
evolution-data-server-dev
evolution-data-server-doc
files
libebook
libebook-dbg
libebook-dev
libedata-book
libedata-book-dbg
libedata-book-dev
libedataserver
libedataserver-dbg
libedataserver-dev
stamp-*
tmp
